<div class="row">

  <div class="col-sm-offset-4 col-sm-4 ">

    <div class="page-container change_color">



      <div class="panel-body ">

        <%= form_for(:session, url: sessions_login_path, method: :post, html: {role: 'form'}) do |f| %>
            <div class="form-group change_font">
              <%= f.label :email, "账号密码登陆" %>
            </div>

              <div class="form-group input-group width">

                <%= f.email_field :email, class: 'form-control change_input_style width radia', placeholder: "输入邮箱" %>

              </div>


            <div class="form-group">
              <div class="input-group width">

                <%= f.password_field :password, class: 'form-control change_input_style width radia', placeholder: "输入密码" %>

              </div>
            </div>

            <div class="checkbox">
              <label><%= f.check_box :remember_me %>记住我</label>
            </div>
            <div align="center">
            <%= button_tag(type: "submit", class: "change_btn_style") do %>
                登录
            <% end %>
            </div>
        <% end %>
      </div>

      <div class="panel-footer change_color" align="right">
        <p>没有账号?
          <%= link_to "注册", new_user_path %>
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  $('body').css("background","#97c65e");
</script>






