<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary table_border">
        <div class="panel-heading table_new">
          <h3 class="panel-title">评估课程: <%=@course.name%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp已评估人数：<%= @count %></h3>
        </div>
        <div class="panel-body" style="min-height: 450px">
        
			<table class="table table-striped table-bordered table-advance table-hover">
		   <thead>
		       <tr>
		           <th>序号</th>
		           <th>评估内容</th>
		           <th>评分</th>
		    	</tr>
		   	</thead>
			
		   	<tbody>
				<tr>
					<th>1</th>
					<th>治学严整、言传身教</th>
					<td>
						<%= @comments_score[0] %>
					</td>
				</tr>
				<tr>
					<th>2</th>
					<th>备课充分，讲课认真</th>
					<td>
						<%= @comments_score[1] %>
					</td>
                </tr>
			<tr>
					<th>3</th>
					<th>仪装端庄，精神饱满 </th>
					<td>
						<%= @comments_score[2] %>
					</td>
                </tr>
			<tr>
					<th>4</th>
					<th>虚心听取意见，积极改进教学</th>
					<td>
						<%= @comments_score[3] %>
					</td>
                </tr>
			<tr>
					<th>5</th>
					<th>无调课、停课、替讲现象</th>
					<td>
						<%= @comments_score[4] %>
					</td>
                </tr>
			<tr>
					<th>6</th>
					<th>教学内容基本符合教学大纲要求</th>
					<td>
						<%= @comments_score[5] %>
					</td>
                </tr>
			<tr>
					<th>7</th>
					<th>讲授思路清晰，概念清楚</th>
					<td>
						<%= @comments_score[6] %>
					</td>
                </tr>
			<tr>
					<th>8</th>
					<th>课程特色鲜明，内容取舍合理，组织严密，逻辑性强</th>
					<td>
						<%= @comments_score[7] %>
					</td>
                </tr>
			<tr>
					<th>9</th>
					<th>重点突出，难点讲解清楚</th>
					<td>
						<%= @comments_score[8] %>
					</td>
                </tr>
			<tr>
					<th>10</th>
					<th>拓展学生知识面，培养分析能力，引导创新</th>
					<td>
						<%= @comments_score[9] %>
					</td>
                </tr>
			<tr>
					<th>11</th>
					<th>因材施教，教学相长</th>
					<td>
						<%= @comments_score[10] %>
					</td>
                </tr>
			<tr>
					<th>12</th>
					<th>注重学生能力培养，合理配置作业</th>
					<td>
						<%= @comments_score[11] %>
					</td>
                </tr>
			<tr>
					<th>13</th>
					<th>答疑</th>
					<td>
						<%= @comments_score[12] %>
					</td>
                </tr>
			<tr>
					<th>14</th>
					<th>课堂互动</th>
					<td>
						<%= @comments_score[13] %>
					</td>
                </tr>
			<tr>
					<th>15</th>
					<th>有启发，学习能力明显提高</th>
					<td>
						<%= @comments_score[14] %>
					</td>
                </tr>
			<tr>
					<th>16</th>
					<th>教学有吸引力，学生能够掌握或理解大部分教学内容</th>
					<td>
						<%= @comments_score[15] %>
					</td>
                </tr>
			<tr>
					<th>17</th>
					<th>达到教学目的和要求</th>
					<td>
						<%= @comments_score[16] %>
					</td>
                </tr>
			</tbody>
 		</table>
		
		<%= render 'comments/comments_visualization' %>

		<div class="panel panel-primary filterable">
		  	<div class="panel-heading btn_new">
		    	学生想说的话
		  	</div>
		 <div class="table-responsive">
		    <table class="table table-striped" id="curriculum_table">
		      <tbody>
				<% @comments.each do |comment| %>
					<% if !(comment.Commenttext.nil?)%>
				          <tr>
				            <th><%= comment.Commenttext %></th>
				          </tr>
					<% end %>
				<% end %>
		      </tbody>
		    </table>
		  </div>
		</div>
		
        </div>
      </div>
    </div>
  </div>
</div>