<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="../favicon.ico">

</head>
<body>
<div class="container">
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">

            <!--<li class="gn-search-item">-->
              <!--<input placeholder="Search" type="search" class="gn-search">-->
              <!--<a class="gn-icon gn-icon-search"><span>Search</span></a>-->
            <!--</li>-->


            <!--教师：课程管理 & 学生：选修课程-->
            <li>
              <!--<a class="gn-icon gn-icon-download">Downloads</a>-->
              <% if teacher_logged_in? %>
                  <a data-toggle="collapse" data-parent="#accordion" href="#CourseCollapse"><span class="glyphicon glyphicon-user"></span>
                    课程管理</a>
              <% end %>
              <% if student_logged_in? %>
                  <a data-toggle="collapse" data-parent="#accordion" href="#CourseCollapse"><span class="glyphicon glyphicon-user"></span>
                    选修课程</a>
              <% end %>

              <div id="CourseCollapse" class="panel-collapse collapse <%= "in" if ["courses"].include?(params[:controller]) %>">

                <ul class="gn-submenu ">
                <!--<li><a class="gn-icon gn-icon-illustrator">Vector Illustrations</a></li>-->
                <!--<li><a class="gn-icon gn-icon-photoshop">Photoshop files</a></li>-->


                  <!--教师登陆：课程管理-已授课程／创建新课程-->
                  <% if teacher_logged_in? %>
                      <li class="list-group-item">
                        <%= link_to courses_path do %>
                            <span class="glyphicon glyphicon-chevron-right"></span> 已授课程
                            <span class="label label-info pull-right"><%= current_user.teaching_courses.length %></span>
                        <% end %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to new_course_path do %>
                            <span class="glyphicon glyphicon-chevron-right"></span> 创建新课程
                        <% end %>
                      </li>
                  <% end %>


                  <!--学生登陆：选修课程-选修课程／已选课程-->
                  <% if student_logged_in? %>
                      <li class="list-group-item">
                        <%= link_to list_courses_path do %>
                            <span class="glyphicon glyphicon-chevron-right"></span> 选修课程
                    <span class="label label-info pull-right"> <%= get_course_to_choose_list().length %>
                    </span>
                        <% end %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to courses_path do %>
                            <span class="glyphicon glyphicon-chevron-right"></span> 已选课程
                            <span class="label label-info pull-right"><%= current_user.courses.length %></span>
                        <% end %>
                      </li>
                  <% end %>
                </ul>
              </div>
            </li>

            <li><a class="gn-icon gn-icon-cog">Settings</a></li>

            <li><a class="gn-icon gn-icon-help">Help</a></li>

            <li>
              <a class="gn-icon gn-icon-archive">Archives</a>
              <ul class="gn-submenu">
                <li><a class="gn-icon gn-icon-article">Articles</a></li>
                <li><a class="gn-icon gn-icon-pictures">Images</a></li>
                <li><a class="gn-icon gn-icon-videos">Videos</a></li>
              </ul>
            </li>

          </ul>
        </div><!-- /gn-scroller -->
      </nav>
    </li>
    <li><a href="http://tympanus.net/codrops">Codrops</a></li>
  </ul>

</div><!-- /container -->

<script>
  doc = new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
</body>
</html>