<%= form_tag("/courses/select", method: "post") do %>

    <table class="table table-striped table-hover table_border">
      <thead>
      <tr>
        <% if logged_in? %>
            <th></th>
        <% end %>
        <th>课程编号</th>
        <th>课程名称</th>
        <th>课时/学分</th>
        <th>限选</th>
        <th>已选</th>
        <th>课程属性</th>
        <th>授课方式</th>
        <th>考试方式</th>
        <th>主讲教师</th>
        <th>上课时间</th>
      </tr>
      </thead>
      <tbody>
      <% @course_to_choose.each do |course_to_choose| %>   <!-- #双||表示内部的局部变量 -->
          <tr>
            <% if student_logged_in? %>
                <td><%= check_box_tag 'course_to_choose[]', course_to_choose.id, false, 'alt' =>
                    course_to_choose.id.to_s + '|'+course_to_choose.name + '|'+ course_to_choose.course_time %></td>
            <% end %>

            <td><%= course_to_choose.course_code %></td>
            <td><%= link_to course_to_choose.name, course_outline_course_url(course_to_choose) %></td>
            <td><%= course_to_choose.credit %></td>
            <td><%= course_to_choose.limit_num %></td>
            <td><%= course_to_choose.users.size %></td>
            <td><%= course_to_choose.course_type %></td>
            <td><%= course_to_choose.teaching_type %></td>
            <td><%= course_to_choose.exam_type %></td>
            <td><%= course_to_choose.teacher.name %></td>
            <td><%= course_to_choose.course_time %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% if student_logged_in? %>
        <button type="submit" class="btn btn_new">提交</button>
    <% end %>
<% end %>