 <style type="text/css">
			#container{
				padding-top: 10px;
			}
			
			h1{
				font-size: 28px;
				margin: 50px;
			}
			
			/* bubble */
			.tip-bubble {
			  position: relative;
			  background-color: #436EEE;
			  width: 500px;
			  padding: 20px;
			  color: #080808;
			  text-align: left;
			  border-radius: 10px;
			  margin: 50px;
			}
			 .tip-bubble:after {
			  content: '';
			  position: absolute;
			  width: 0;
			  height: 0;
			  border: 15px solid;
			}
			 
			.tip-bubble-left:after {
			  border-right-color: #202020;
			  top: 50%;
			  right: 100%;
			  margin-top: -15px;
			}
		
        </style>
 
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="text-align:center;">
      <div class="panel panel-primary filterable table_border">
        <div class="panel-heading table_new">
          <h3 class="panel-title">
              《<%= @course.name %>》Discuss区
          </h3>
        </div>
        
        <div id="button-edit">
          
       
 <div class="panel-body" style="text-align:left;">
   <div id="container">
     
            <div class="table-responsive">
          <tbody>
             <%if @course.diss == "" %>
                 <td><B>暂时无人发言！</B></td>
             <% end %>
             <% @test = @course.diss.split("匿名用户：")%>
              <% @judge ="" %>
              <% @test.each do |test| %>
                <% if test!="暂无人发言" and test != "" %>
                  <% if @judge.include? test   %>
                  <% else %>
                     	<div class="tip-bubble tip-bubble-left">
                      <td><B>匿名用户：</B></td
                      
                      <td><%= test%></td>
                       </div>
                            
                      <% @judge+=test %>
                  <% end %>
              <% end %>
             <% end %>
             
    
          </tbody>
            </div>
          </div>


 <%= render 'shared/error_messages', :object => @course %>
 
 <%#= form_for  @course, url: save_discuss_courses_path(id: @course.id), html: {class: "nifty_form"} do |f| %>
 <%#= form_for @course, html: {class: 'form-horizontal', role: 'form'} do |f| %>
 
 <%#= form_tag(@course, "/courses/save_discuss", method: "post") do %>

<%# form_for @course, :url => { :action => :save_discuss } do |f| %>

  <%=form_tag :action => "save_discuss", :id=> @course.id do %>
  <%#= text_area :@test, class: 'form-control', placeholder: "输入发言内容" %>
  <%= text_area(:course, :tmp, cols:20, row: 30) %>
  <!--<textarea name="course[tmp]" id="course_tmp" class="form-control">
  <%#=@course.tmp %>
  </textarea> -->
  <button type="submit" class="btn btn-default">提交</button>
  <% end %>
 

<!--  

   <%#= form_for @course, html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <div class="col-sm-9">
        <div class="input-group input-group-lg">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%#= f.text_area :tmp, class: 'form-control', placeholder: "输入发言内容" %>
        </div>

    <%#= f.submit '提交', class: "btn btn-success btn-block btn_new" %>
    <%#= link_to '取消', courses_path, :class => "btn btn-default btn-block" %>

  
<%# end %>

        </div>
      </div>
      
-->      
    </div>
  </div>
</div>