<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>
    <div class="col-sm-10" style="text-align:center;">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">
              《<%= @course.name %> 》Discuss区
          </h3>
        </div>
                           </br>
        <div id="button-edit">
          
       
       <%= form_for @course, html: {class: 'form-horizontal', role: 'form'} do |f| %>
       <%= render 'shared/error_messages', :object => @course %>
          <div class="form-group">
      <%= f.label "请输入匿名发言的内容：", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <div class="input-group input-group-lg">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.text_field :tmp,class:'form-control' %>
        </div>
      </div>
    </div>

    <%= f.submit '提交', class: "btn btn-success btn-block" %>
    <%= link_to '取消', courses_path, :class => "btn btn-default btn-block" %>
   <% end %>

          <div class="panel-body" style="text-align:left;">
            <div class="table-responsive">
          <tbody>
            <br>
             <% if @course.tmp !=nil%>
             <td><%= @course.diss %></td>
             <% end %>
          <% @discuss.each do |discuss| %>
              <td><%= discuss.user %></td>
              <td><%= discuss.content %></td>
              <td><%= discuss.created_at %></td>
          <% end %>
          </tbody>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>