<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>
    <div class="col-sm-10" style="text-align:center;">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% %>
              《<%= @course.name %> 》课程大纲
          </h3>
        </div>
                           </br>
        <div id="button-edit">
        <% if teacher_logged_in?  %>
              <% @coursetmp.each do |coursetmp| %>
                  <% if @course == coursetmp  %>
                     <%= link_to "点击修改课程大纲", edit_course_url(@course), class: 'btn btn-xs btn-info' %>
                  <% end %>
             <% end %>
        <% end %>
       <%= link_to "查看课程Discuss信息",discussions_path(course_id: @course.id), class: 'btn btn-xs btn-info' %>
          <div class="panel-body">
            <div class="table-responsive">
                       <%= @course.outline%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>