<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
      <%= render "shared/sidenav" %>
    </div>
    <div class="col-sm-10" style="text-align:center;">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%  @course = Course.find_by_id(params[:id]) %>
            <% @coursetmp=current_user.teaching_courses if teacher_logged_in? %>
              《<%= @course.name %> 》课程大纲修改
          </h3>
        </div>
                           </br>
             
             <%  @course = Course.find_by_id(params[:id]) %>
<%= form_for @course, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'shared/error_messages', :object => @course %>


      <div class="col-sm-9">
        <div class="input-group input-group-lg">
          <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
          <%= f.text_area :outline, class: 'form-control', placeholder: "输入课程大纲" %>
        </div>
    </div>

    <%= f.submit '提交', class: "btn btn-success btn-block" %>
    <%= link_to '取消', courses_path, :class => "btn btn-default btn-block" %>

<% end %>
              
                           
                           
                           
      </div>
    </div>
  </div>
</div>
