<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary table_border">
        <div class="panel-heading table_new">
          <h3 class="panel-title">
            <%= student_logged_in? ? "选修课程" : "已开放的课程列表" %>
          </h3>
        </div>
        <div class="panel-body" style="min-height: 450px">
          <% if @in_course_select_time %>
              <div class="row">
                <%= form_tag("/courses/list", method: "post") do %>
                    <div class="form-group">
                      <%= render 'courses/search_course_select_form', info: @course_time, submit_name: "course_time", name: "上课时间" %>
                      <%= render 'courses/search_course_select_form', info: @course_exam_type, submit_name: "exam_type", name: "考试方式" %>
                    </div>
                    <button type="submit" class="btn btn_new">提交</button>
                <% end %>
              </div>
              <hr>
              <%= render 'courses/course_list' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if logged_in? and @in_course_select_time %>
    <%= render 'courses/curriculum_table' %>
<% end %>


<script type="text/javascript" charset="utf-8">
    var param = {
        '周一': 0,
        '周二': 1,
        '周三': 2,
        '周四': 3,
        '周五': 4,
        '周六': 5,
        '周天': 6
    };

    function week_data_to_num(week_data) {
        return param[week_data] + 1;
    }

    $('input:checkbox').change(
        function () {
            var res = update_course_table($(this).attr('alt'), $(this).is(':checked'));
            if (!res && $(this).is(':checked'))
                $(this).removeAttr('checked');
        });


    function parse_course_time(cur_course) {
        cur_course = cur_course.split('|');
        var id = cur_course[0];
        var cur_time = cur_course[2];
        var end_j = cur_time.indexOf('(');
        var col = week_data_to_num(cur_time.substring(0, end_j));
        var t = cur_time.substring(end_j + 1, cur_time.indexOf(')')).split('-');
        return {
            'id' : cur_course[0],
            'name': cur_course[1],
            'start': parseInt(t[0]),
            'end': parseInt(t[1]),
            'col': col
        };
    }

    function check_course_conflict(data) {
        for (var row = data['start']; row <= data['end']; row++) {
            var text = $('.row' + row + '.col' + data['col']).text();
            if (text != '') return text;
        }
        return null;
    }

    function update_course_table(cur_course, add) {
        var data = parse_course_time(cur_course);
        if (add) {
            var res = check_course_conflict(data);
            if (res != null) {
                alert('你选择的课和' + res + '冲突');
                return false;
            }
        }
        for (var row = data['start']; row <= data['end']; row++) {
            var element = $('.row' + row + '.col' + data['col']);
            element.text(add ? data['name'] : '');
            element.addClass(data['name']);
            if (!add) {
                element.css("border-bottom", "1px solid #ddd");
                element.css("border-top", "1px solid #ddd");
                element.removeClass("aa");
            }
        }
        if (add)
            hidden_border();
        return true;
    }


    function hidden_border() {
        var m = 11, n = 7;
        for (var j = 1; j <= n; j++) {
            for (var i = m; i >= 0; i--) {
                var cur = $('.row' + i + '.col' + j);
                if (i - 1 >= 0 && cur.text() != '') {
                    var pre_row = $('.row' + (i - 1) + '.col' + j);
                    if (pre_row.text() == cur.text()) {
                        pre_row.css("border-bottom", "none");
                        cur.css("border-top", "none");
                        cur.text("");
                        i--;
                        if (i - 1 <= m) {
                            var p_pre_row = $('.row' + (i - 1) + '.col' + j);
                            if (p_pre_row.text() == pre_row.text()) {
                                i--;
                                p_pre_row.css("border-bottom", "none");
                                pre_row.css("border-top", "none");
                                p_pre_row.text("");
                            }
                        }
                    }

                }
            }
        }
    }
    $(hidden_border());
</script>