<% if @in_course_select_time %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-primary table_border">
            <div class="panel-heading table_new">
              <h3 class="panel-title">
                <%= student_logged_in? ? "选修课程" : "已开放的课程列表" %>
              </h3>
            </div>
            <div class="panel-body" style="min-height: 450px">
              <div class="row">
                <%= form_tag("/courses/list", method: "post") do %>
                    <div class="form-group">
                      <%= render 'courses/search_course_select_form', info: @course_time, submit_name: "course_time", name: "上课时间" %>
                      <%= render 'courses/search_course_select_form', info: @course_exam_type, submit_name: "exam_type", name: "考试方式" %>
                    </div>
                    <button type="submit" class="btn btn_new">提交</button>
                <% end %>
              </div>
              <hr>
              <%= render 'courses/course_list' %>

            </div>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <%= render 'layouts/content', :flash => {:danger => "当前不在选课时间"} %>
<% end %>

<% if logged_in? and @in_course_select_time %>
    <%= render 'courses/curriculum_table' %>
<% end %>


<script type="text/javascript" charset="utf-8">
    var param = {
        '周一': 0,
        '周二': 1,
        '周三': 2,
        '周四': 3,
        '周五': 4,
        '周六': 5,
        '周天': 6
    };

    function week_data_to_num(week_data) {
        return param[week_data] + 1;
    }

    $('input:checkbox').change(
        function () {
            var res = update_course_table($(this).attr('alt'), $(this).is(':checked'));
            if (!res && $(this).is(':checked'))
                $(this).removeAttr('checked');
        });


    function parse_course_time(cur_course) {
        cur_course = cur_course.split('|');
        var id = cur_course[0];
        var cur_time = cur_course[2];
        var end_j = cur_time.indexOf('(');
        var col = week_data_to_num(cur_time.substring(0, end_j));
        var t = cur_time.substring(end_j + 1, cur_time.indexOf(')')).split('-');
        return {
            'id': cur_course[0],
            'name': cur_course[1],
            'start': parseInt(t[0]),
            'end': parseInt(t[1]),
            'col': col,
            'orign_time': cur_time
        };
    }

    function check_course_conflict(data) {
        for (var row = data['start']; row <= data['end']; row++) {
            var cur = $('.row' + row + '.col' + data['col']);
            if (cur.attr('alt') != '' && cur.text().trim() != '')
                return {
                    'name': cur.text().trim(),
                    'time': data['orign_time']
                }
        }
        return null;
    }

    function update_course_table(cur_course, add) {
        var data = parse_course_time(cur_course);
        if (add) {
            var res = check_course_conflict(data);
            if (res != null) {
                alert('你选择的' + data['name'] + ' 和' + res['name'] + '冲突\n' + '时间:' + res['time']);
                return false;
            }
        }
        for (var row = data['start']; row <= data['end']; row++) {
            var element = $('.row' + row + '.col' + data['col']);
            if (add) {
                element.text(data['name']);
                element.attr('alt', data['id']);
            }
            else {
                element.text('');
                element.attr('alt', '');
                element.css("border-bottom", "1px solid #ddd");
                element.css("border-top", "1px solid #ddd");
            }
        }
        if (add)
            hidden_border();
        return true;
    }
</script>